:root{
    --color-Blanco: #FFFFFF;
    --color-texto-1: #808194;
    --color-texto-2: #2A2B2E;
    --color-boton-1: #E0E0E5;
    --color-boton-2: #5454541A;
    --color-boton-3: #4F90F0;
    --color-negro-transparencia: #00000026;
    --color-cuadrado: #EDEDED;
}

*{
    margin: 0px;
}

.contenedor{
    display: flex;
    overflow-x: auto;
}

.part-1{
    position: relative;
    height: 100%;
    width: 50%;
}

.img-1, .cuadrado1{
    display: none;
}

.titulo{
    position: absolute;
    top: 34px;
    left: 40px;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 700;
    color: var(--color-texto-1);
}

form{
    display: grid;
    margin-top: 155px;
    margin-left: 11%;
    margin-bottom: 155px;
    width: 66%;
    gap: 18px;
    border-radius: 8px;
    box-shadow: 4px 4px 30px 0px var(--color-boton-2);
}

form > h1{
    margin-top: 48px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    color: var(--color-texto-2);
    text-align: center;
}

.sm{
    width: -webkit-fill-available;
    height: 44px;
    margin: 0px 24px;
    border: 1px solid var(--color-boton-1);
    background-color: var(--color-Blanco);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sm > p{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    color: var(--color-texto-2);
}

.or{
    display: flex;
    align-items: center;
    margin: 0px 24px;
}

.or > hr{
    width: 45%;
    height: 0px;
}

.or > p{
    text-align: center;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    width: 10%;
}

form > div{
    display: grid;
    gap: 8px;
}

form > div > label{
    display: block;
    margin: 0px 24px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    color: var(--color-texto-1);
}

.formInput{
    position: relative;
    margin: 0px 24px;
}

.formInput > input{
    width: -webkit-fill-available;
    height: 44px;
    border: 1px solid var(--color-texto-1);
    border-radius: 8px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    color: var(--color-texto-2);
}

.formInput > i{
    position: absolute;
    right: 8px;
    transform: translate( 0px, 100%);
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.checkbox{
    width: -webkit-fill-available;
    display: flex;
    margin: 0px 24px;
}

.izquierda{
    display: flex;
    align-items: center;
    width: 50%;
}

.izquierda > label{
    margin: 0px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 700;
}

.izquierda > input, .izquierda > label, .derecha > a{
    cursor: pointer;
}

.derecha{
    display: flex;
    justify-content: end;
    width: 50%;
}

.derecha > a{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline var(--color-boton-3);
}

.inputCB{
    height: 16px;
    width: 16px;
    margin: 0px 8px 0px 0px;
}


.login{
    margin: 0px 24px;
    background-color: var(--color-boton-3);
    border: none;
    border-radius: 4px;
    height: 44px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 700;
    color: var(--color-Blanco);
    cursor: pointer;
}

.final{
    margin: 0px 24px;
    text-align: start;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 48px;
}

.final > a{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline var(--color-boton-3);
    cursor: pointer;
}

.part-2{
    width: 50%;
    position: relative;
}

.img-2{
    position: absolute;
    right: 31px;
    top: 34px;
    bottom: 34px;
}
.img-2-1{
    height: 100%;
    width: 100%;
}

@media(max-width: 770px){

    .img-1{
        display: block;
        width: 100%;
    }

    .cuadrado1{
        display: flex;
        justify-content: center;
        transform: translate( 0px, -50%);
    }
    
    .cuadrado{
        height: 116px;
        width: 116px;
        background-color: var(--color-cuadrado);
        box-shadow: 0px 4px 4px 0 var(--color-negro-transparencia);
        border: 5px solid var(--color-Blanco);
        border-radius: 8px;
    }

    .titulo{
        display: none;
    }

    .part-2{
        display: none;
    }

    .part-1{
        width: 100%;
    }

    form{
        width: -webkit-fill-available;
        margin: 0px 6%;
        margin-top: -50px;
        box-shadow: none;
        gap: 22px;
    }

}
